@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background-color: #dbe2ef;
    color: #3F72AF;
    font-family: 'Barlow Condensed';
}
p {
    color: #112D4E;
    font-size: 18px;
    font-family: "Montserrat";
}
a {
    font-family: "Barlow Condensed";
    color: #3F72AF;
    text-decoration: none;
}
body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}

.navbar {
    position: sticky;
        top: 0;
        width: 100%;  
        z-index: 200; 
    
}
.navbar ul{
    list-style-type: none;
    background-color: #112D4E;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:#DBE2EF;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #081728;
}
.navbar a:visited{
    color: #bccae3;
}
.navbar li{
    float: left;
}
figcaption {
font-size: 18px;
}   
form > input + button {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    padding:10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 600px) and (min-width:600px){
    .container {
      width: 100%;
      margin: 30px auto;
    }
  }
  .input-with-icon {
    position: relative;
}

.input-with-icon input,
.input-with-icon textarea {
    padding-left: 30px; 
}

.input-with-icon i {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
}

.fa-square-github{
    font-size: 80px;
    color: #333;
}

.fa-square-instagram{
    font-size: 80px;
    color: #bc2a8d
}

.fa-linkedin{
    font-size: 80px;
    color: #0077b5;
}

.ct{
    background-color: #bccae3;
    border-radius: 3px;
}

.projectlinks{
  text-decoration: none;
  background-color: #bccae3;
  color: #001e1d;
  padding: 5px;
  border-radius: 10px;
  border: 10px;
}