@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background-color: #DBE2EF;
    color: #3F72AF;
    font-family: 'Barlow Condensed';
}
p {
    color: #112D4E;
    font-size: 18px;
    font-family: "Montserrat";
}
a {
    font-family: "Barlow Condensed";
    color: #3F72AF;
    text-decoration: none;
}
body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: #112D4E;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:#DBE2EF;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #081728;
}
.navbar li{
    float: left;
}